/* Modify Tildes' theme by https://gitlab.com/rorso */
body,
article,
aside,
body > main,
table tr {
    background-color: #000 !important;
    color: #666
}

table td {
    border-color: green !important;
}

a,
a:visited {
    color: green !important;
}

.is-comment-mine > .comment-itself a,
.is-comment-mine > .comment-itself a:visited {
    color: white !important;
}

a.btn-primary,
.btn-primary,
.btn.btn-link {
    background-color: green !important;
    border-color: green !important;
    color: white !important;
}

article.comment {
    border-left: 1px solid green !important;
    border-bottom: 0px !important;
}

div.comment-itself > header {
    background-color: #222;
    color: #004000 !important;
}

div.comment-text > blockquote,
blockquote p,
blockquote,
code,
pre {
    background-color: #111 !important;
    color: #444 !important;
}

textarea,
select {
    background-color: #222 !important;
    color: green !important;
}

textarea:focus,
select:focus {
    border-color: green !important;
}

menu {
    border: 0px !important;
}

li.active a {
    border-color: green !important;
}

.topic-voting,
.btn-sm {
    border-color: green;
    color: green;
}

.topic-voting:hover,
.btn-sm:hover,
.btn-used {
    border-color: green;
    color: white;
    background-color: green;
}

.is-topic-official {
    border-left-color: green !important;
}

.topic-icon {
    border-color: green !important;
}

.pagination > .page-item {
    border-color: inherit;
}

.table > thead > tr > th {
    border-color: #666 !important;
}

.is-comment-by-op > .comment-itself {
    border-color: green !important;
}

blockquote {
    border-color: #666 !important;
}

.is-topic-mine {
    border-color: green !important;
}

div.toc,
#page-list {
    background-color: #111 !important;
}

html,
footer:not(.topic-info) {
    background-color: #000 !important;
}

.topic-text-excerpt[open] {
    color: inherit !important;
}

/* Highlight own comments by https://tildes.net/user/Stone-D */
.is-comment-mine > .comment-itself {
    border-left: 3px solid green !important;
}

.is-comment-mine > .comment-itself > header {
    background: green !important;
}

p {
    max-width: 95%;
    text-align: justify;
}

#sidebar {
    min-width: 250px;
    width: 250px;
}

/* Add scan lines from https://github.com/dnbard/brackets-old-terminal/blob/master/old-terminal.css */
main:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(#14D20A 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .09;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .8);
    border-radius: 20px;
    z-index: 1;
    pointer-events: none;
}

main:after {
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* CRT flicker animation */
/*@keyframes flickerAnimation {
    0%   { opacity:1; }
    20%  { opacity:1; }
    21%  { opacity:0.95; }
    100% { opacity:1; }
}

body {
   -webkit-animation: flickerAnimation .01s infinite;
   -moz-animation: flickerAnimation .01s infinite;
   -o-animation: flickerAnimation .01s infinite;
    animation: flickerAnimation .01s infinite;
}*/

/* CRT blur effect */
/*body {
    filter: blur(0.4px);
}*/

/* Alternating topic tile background */
/*.topic-listing > li:nth-of-type(2n),
.topic-listing > li:nth-of-type(2n) > article {
    background-color: #111 !important;
}*/

/* Hide tags and fix profile page by https://tildes.net/user/apoctr */
.comment-tags li {
    display: none;
}

.comment-tags::after {
    content: "Tags hidden";
    font-size: 10px;
    display: inline;
}

.comment-tags:hover::after {
    display: none;
}

.comment-tags:hover li {
    display: inline;
}

/* Hide username to the right of Tildes logo when on own userpage */
.site-header-context[href="/user/rorso"] {
    display: none;
}